@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&family=Quicksand:wght@300..700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #9c6644;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-top: 70px;
  background-color: #EDE0D4;
}
.wrapper .container-xl {
  max-width: 1200px;
  margin-inline: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px;
  background-color: #DDB892;
  box-shadow: 0px 2px 15px #9c6644;
  z-index: 900;
}
.navbar__list {
  position: absolute;
  top: 51px;
  left: -150px;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 250px;
  margin-top: 10px;
  background-color: #E6CCB2;
  border-right: 5px solid #DDB892;
  border-bottom: 5px solid #DDB892;
  border-radius: 0px 0px 10px 0px;
  opacity: 1;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}
.navbar__item:last-of-type {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  margin-block: auto 10px;
  font-size: 0.6rem;
  color: #b08968;
}
.navbar__item:last-of-type .navbar__row--mod {
  font-family: "Pacifico", cursive;
}
.navbar__link {
  display: block;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #7F5539;
  transition: all 0.6s;
}
.navbar__link:focus-visible, .navbar__link:hover {
  background-color: #9c6644;
  color: #EDE0D4;
}
.navbar #navbar-toggle {
  display: none;
}
.navbar #navbar-toggle:checked ~ .navbar__list {
  transform: translateX(150px);
  box-shadow: 2px 10px 15px #9c6644;
}
.navbar .navbar-toggle {
  position: relative;
  display: block;
  height: 25px;
  width: 30px;
}
.navbar .navbar-toggle::before, .navbar .navbar-toggle::after, .navbar .navbar-toggle span {
  position: absolute;
  width: 90%;
  height: 3px;
  transition: all 0.4s;
  background-color: #7F5539;
}
.navbar .navbar-toggle::before {
  content: "";
  top: 0;
}
.navbar .navbar-toggle::after {
  content: "";
  bottom: 0;
}
.navbar .navbar-toggle span {
  top: 11px;
}
.navbar #navbar-toggle:checked ~ .navbar-toggle::after {
  transform: rotate(135deg);
  bottom: 10px;
}
.navbar #navbar-toggle:checked ~ .navbar-toggle::before {
  transform: rotate(-135deg);
  top: 12px;
}
.navbar #navbar-toggle:checked ~ .navbar-toggle span {
  transform: translateX(-45px);
  top: 12px;
  opacity: 0;
}
.navbar__logo {
  position: absolute;
  right: 6px;
  top: 6px;
}
.navbar__image {
  width: 50px;
  height: 50px;
}
@media (min-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
  }
  .navbar__list {
    position: relative;
    top: 0;
    left: 0;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin-top: 0px;
    background-color: #DDB892;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
  }
  .navbar__item:last-of-type {
    display: none;
    opacity: 0;
  }
  .navbar__link {
    padding: 16px;
    font-size: 1rem;
  }
  .navbar #navbar-toggle:checked ~ .navbar__list {
    transform: translateX(0px);
    box-shadow: none;
  }
  .navbar .navbar-toggle {
    display: none;
    opacity: 0;
  }
  .navbar__logo {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 10px;
  }
  .navbar__image {
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar {
    justify-content: center;
  }
  .navbar__logo {
    display: none;
  }
}

.header-homepage {
  background-image: url(../src/images/homepage/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.header-homepage .hero__title {
  display: none;
  align-items: center;
  justify-content: flex-start;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #7F5539;
}
.header-homepage .hero .slider {
  display: flex;
  flex-direction: column;
  margin-block: 50px 0px;
  padding-block: 50px 0px;
}
.header-homepage .hero .slider__title {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
.header-homepage .hero .slider__box {
  display: flex;
  width: 270px;
  height: 270px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.header-homepage .hero .slider__item {
  position: absolute;
  opacity: 0;
  padding: 10px;
  transition: all 0.6s;
}
.header-homepage .hero .slider .current {
  opacity: 1;
  z-index: 2;
}
.header-homepage .hero .slider__item-image {
  width: 250px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.header-homepage .hero .slider__item-image--first {
  background-image: url("../src/images/homepage/header/MangoPeachTiramisuWhole.png");
}
.header-homepage .hero .slider__item-image--second {
  background-image: url("../src/images/homepage/header/RedVelvetCheesecakeWhole.png");
}
.header-homepage .hero .slider__item-image--third {
  background-image: url("../src/images/homepage/header/DevilsFoodCheesecakeWhole.png");
}
.header-homepage .hero .slider__item:focus-visible .slider__item-image--first, .header-homepage .hero .slider__item:hover .slider__item-image--first {
  background-image: url("../src/images/homepage/header/MangoPeachTiramisuSliced.png");
}
.header-homepage .hero .slider__item:focus-visible .slider__item-image--second, .header-homepage .hero .slider__item:hover .slider__item-image--second {
  background-image: url("../src/images/homepage/header/RedVelvetCheesecakeSliced.png");
}
.header-homepage .hero .slider__item:focus-visible .slider__item-image--third, .header-homepage .hero .slider__item:hover .slider__item-image--third {
  background-image: url("../src/images/homepage/header/DevilsFoodCheesecakeSliced.png");
}
.header-homepage .hero .slider__item-link {
  display: inline-block;
  font-size: 0.7rem;
  margin-top: 20px;
  color: #9c6644;
}
.header-homepage .hero .slider__item-link:focus-visible, .header-homepage .hero .slider__item-link:hover {
  opacity: 0.7;
}
.header-homepage .hero .slider__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-homepage .hero .slider__prev, .header-homepage .hero .slider__next {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.4rem;
  color: #7F5539;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.6s;
}
.header-homepage .hero .slider__prev:focus-visible, .header-homepage .hero .slider__prev:hover, .header-homepage .hero .slider__next:focus-visible, .header-homepage .hero .slider__next:hover {
  background-color: #9c6644;
  color: #EDE0D4;
}
.header-homepage .hero .slider__prev:active, .header-homepage .hero .slider__next:active {
  opacity: 0.7;
}
@media (min-width: 768px) {
  .header-homepage {
    margin-top: 50px;
  }
  .header-homepage .hero {
    display: block;
    padding-block: 15px;
  }
  .header-homepage .hero .container-xl {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header-homepage .hero__title {
    display: flex;
    align-self: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 100px;
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    color: #7F5539;
  }
  .header-homepage .hero__title--secondary {
    margin-left: auto;
    max-width: 20ch;
    font-size: 1.2rem;
    font-weight: 400;
    flex-basis: 100%;
  }
  .header-homepage .hero .slider__title {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-homepage {
    margin-top: 0px;
  }
  .header-homepage .hero .container-xl {
    padding-top: 100px;
  }
  .header-homepage .hero__title {
    align-items: baseline;
    justify-content: unset;
    width: 500px;
    margin-top: 150px;
    font-size: 4.5rem;
    font-weight: 400;
  }
  .header-homepage .hero__title--secondary {
    margin-left: 0px;
    font-size: 1.7rem;
  }
  .header-homepage .hero .slider {
    margin-block: 50px 0px;
    padding-block: 50px 0px;
  }
  .header-homepage .hero .slider__title {
    display: none;
  }
  .header-homepage .hero .slider__box {
    width: 370px;
    height: 370px;
  }
  .header-homepage .hero .slider__item-title {
    font-size: 1.5rem;
  }
  .header-homepage .hero .slider__item-image {
    width: 350px;
    height: 300px;
  }
  .header-homepage .hero .slider__item-link {
    font-size: 0.9rem;
  }
  .header-homepage .hero .slider__buttons {
    margin-top: 20px;
  }
}

.main-homepage {
  background-image: url(../src/images/homepage/BackgroundLight.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #E6CCB2;
}
.main-homepage .about {
  padding-block: 70px 10px;
}
.main-homepage .about .container-xl {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-homepage .about__title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #7F5539;
  margin-bottom: 20px;
}
.main-homepage .about__box {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.main-homepage .about__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-homepage .about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #EDE0D4;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px #b08968;
}
.main-homepage .about__image {
  display: inline-block;
  width: 30px;
}
.main-homepage .about__info {
  max-width: 7ch;
  font-size: 0.9rem;
  line-height: 25px;
}
.main-homepage .workflow {
  padding-block: 70px 10px;
  background-image: url("../src/images/homepage/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #EDE0D4;
}
.main-homepage .workflow .container-xl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-homepage .workflow__box {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}
.main-homepage .workflow__item {
  display: grid;
  grid-template-rows: 50px 20px 1fr;
  justify-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid #E6CCB2;
}
.main-homepage .workflow__numbox {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E6CCB2;
  box-shadow: 0px 0px 10px #9c6644;
}
.main-homepage .workflow__num {
  font-size: 1.2rem;
  font-weight: 600;
  color: #7F5539;
}
.main-homepage .workflow__text--primary {
  font-size: 0.9rem;
  font-weight: 600;
  color: #7F5539;
}
.main-homepage .workflow__text--secondary {
  font-size: 0.8rem;
  width: 15ch;
}
.main-homepage .top-products {
  padding-block: 70px 10px;
  background-image: url("../src/images/homepage/BackgroundLight.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #E6CCB2;
}
.main-homepage .top-products .container-xl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-homepage .top-products__title {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 400;
  color: #7F5539;
}
.main-homepage .top-products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 30px auto;
}
.main-homepage .top-products__image {
  display: inline-block;
  justify-self: center;
  width: 70%;
}
.main-homepage .top-products__info {
  min-height: 120px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.main-homepage .top-products__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.main-homepage .top-products__buttons button {
  width: 70px;
  height: 40px;
  border: 1px solid #b08968;
  border-radius: 40px;
  background-color: #E6CCB2;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 4px #b08968;
}
.main-homepage .top-products__buttons .active {
  background-color: #EDE0D4;
}
.main-homepage .top-products__buttons #DevilsFood {
  background-image: url("../src/images/homepage/main/products/DevilsFood.png");
}
.main-homepage .top-products__buttons #MangoPeach {
  background-image: url("../src/images/homepage/main/products/MangoPeach.png");
}
.main-homepage .top-products__buttons #BlueberryCheese {
  background-image: url("../src/images/homepage/main/products/BlueberryCheese.png");
}
.main-homepage .top-products__buttons #BrazoSansrival {
  background-image: url("../src/images/homepage/main/products/BrazoSansrival.png");
}
.main-homepage .top-products__buttons #CappuccinoChoco {
  background-image: url("../src/images/homepage/main/products/CappuccinoChoco.png");
}
.main-homepage .top-products__buttons #ChocoSansrival {
  background-image: url("../src/images/homepage/main/products/ChocoSansrival.png");
}
.main-homepage .top-products__buttons #HersheysKisses {
  background-image: url("../src/images/homepage/main/products/HersheysKisses.png");
}
.main-homepage .top-products__buttons #MangoSymphony {
  background-image: url("../src/images/homepage/main/products/MangoSymphony.png");
}
.main-homepage .discount {
  padding-block: 70px 10px;
  background-image: url("../src/images/homepage/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FE9BA0;
  color: #7F5539;
}
.main-homepage .discount .container-xl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main-homepage .discount__title {
  text-align: center;
  text-shadow: 1px 1px 2px #9c6644;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 200;
  color: #EDE0D4;
}
.main-homepage .discount__description, .main-homepage .discount__info {
  max-width: 25ch;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #EDE0D4;
}
.main-homepage .discount__gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: inset 0px 0px 10px #FE9BA0;
}
.main-homepage .discount__cake {
  width: 40px;
}
.main-homepage .discount__bonus {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../src/images/homepage/main/discount/MiniT-Overload.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-homepage .discount__countdown {
  text-shadow: 1px 1px 2px #EDE0D4;
  font-weight: 700;
  color: #7F5539;
}
.main-homepage .discount__link {
  padding: 5px 10px;
  border: 1px solid #7F5539;
  border-radius: 30px;
  box-shadow: 1px 1px 5px #9c6644;
  background-color: #EDE0D4;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  color: #7F5539;
}
.main-homepage .discount__link:focus-visible, .main-homepage .discount__link:hover {
  background-color: #9c6644;
  color: #EDE0D4;
  text-shadow: 1px 1px #7F5539;
}

.cart {
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 0 50% 50% 0;
  background-color: #DDB892;
}

.cake {
  border: 1px solid #b08968;
  margin: 4vw;
  padding: 3vw 3vw 0;
}
.cake:first-child {
  margin-top: 3vw;
}
.cake__gallery {
  display: flex;
  justify-content: end;
  padding-right: 0.5vw;
}
.cake__gallery-item > i {
  color: #9c6644;
  font-size: 2rem;
}
.cake__images-wrap {
  display: flex;
  overflow: hidden;
}
.cake__preview, .cake__filling {
  opacity: 0;
  position: relative;
  min-width: 100%;
  margin-bottom: 2vw;
  transition: all 0.18s linear;
}
.cake__preview.active, .cake__filling.active {
  opacity: 1;
}
.cake__filling {
  left: -100%;
}
.cake__info-wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 20px) 3vw 0fr;
  transition: all 0.18s linear;
}
.cake__info-wrap--show-description {
  grid-template-rows: repeat(2, 20px) 3vw 1fr;
  margin-bottom: 3vw;
}
.cake__name {
  grid-column: 1;
  grid-row: 1;
}
.cake__price {
  grid-column: 1;
  grid-row: 2;
}
.cake__control {
  grid-column: 2;
  grid-row: 1/span 2;
  display: flex;
  justify-content: end;
  gap: 3vw;
}
.cake__add-to-cart, .cake__full-info {
  display: flex;
  align-items: center;
  border-radius: 1vw;
  padding-inline: 1.2vw;
  color: #9c6644;
  font-size: 2rem;
}
.cake__add-to-cart:hover, .cake__full-info:hover {
  cursor: pointer;
  background-color: #7F5539;
  color: #EDE0D4;
}
.cake__full-info--shown {
  background-color: #7F5539;
  color: #EDE0D4;
}
.cake__add-to-cart {
  position: relative;
}
.cake__add-to-cart--added {
  background-color: #7F5539;
  color: #EDE0D4;
}
.cake__add-to-cart--added:after {
  content: "✓";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  transform: translate(30%, -30%);
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  background-color: green;
}
.cake__description {
  position: relative;
  grid-column: 1/span 2;
  grid-row: 4;
  overflow-y: hidden;
}

/*# sourceMappingURL=style.css.map */
