$font-size: 16px;
$font-family-main: "Quicksand", sans-serif;
$font-family-secondary: "Pacifico", cursive;
$font-family-reviews: "Caveat", cursive;

// mixins
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;