@use "../presets" as *;
@use "../mixins" as *;

.footer--special {
    padding-block: 12% 10px;
    background-image: url('../src/images/homepage/BackgroundSpecial.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}