@use "../presets" as *;
@use "../mixins" as *;

.main-homepage {

    .about,
    .workflow,
    .top-products,
    .discount {
        padding-block: 70px 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    .about {
        background-image: url('../src/images/homepage/BackgroundSpecial.png');
        background-color: $color-primary;

        .container-xl {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        &__title {
            font-family: $font-family-secondary;
            font-weight: 400;
            color: $color-font-secondary;
            margin-bottom: 20px;
        }

        &__box {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: $color-main;
            border-radius: 50%;
            box-shadow: inset 0px 0px 10px $color-dark-secondary;
        }

        &__image {
            display: inline-block;
            width: 30px;
        }
        
        &__info {
            max-width: 7ch;
            font-size: 0.9rem;
            line-height: 25px;
        }
    }

    .workflow {
        background-image: url('../src/images/homepage/Background.png');
        background-color: $color-main;

        .container-xl {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__title {
            margin-bottom: 20px;
            font-family: $font-family-secondary;
            font-size: 1.7rem;
            font-weight: 400;
            color: $color-font-secondary
        }

        &__box {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 10px;
        }

        &__item {
            display: grid;
            grid-template-rows: 50px 20px 1fr;
            justify-items: center;
            gap: 5px;
            padding: 10px;
            border: 1px solid $color-primary;
        }

        &__numbox {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $color-primary;
            box-shadow: 0px 0px 10px $color-font-primary;
        }

        &__num {
            font-size: 1.2rem;
            font-weight: 600;
            color: $color-font-secondary;
        }

        &__text--primary {
            font-size: 0.9rem;
            font-weight: 600;
            color: $color-font-secondary;
        }

        &__text--secondary {
            font-size: 0.8rem;
            width: 15ch;
        }
    }

    .top-products {
        background-image: url('../src/images/homepage/BackgroundLight.png');
        background-color: $color-primary;

        .container-xl {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__title {
            font-family: $font-family-secondary;
            font-size: 2rem;
            font-weight: 400;
            color: $color-font-secondary;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin: 30px auto;
        }
        
        &__image {
            display: inline-block;
            justify-self: center;
            width: 70%;
        }
        
        &__info {
            min-height: 120px;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        &__buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            & button {
                width: 70px;
                height: 40px;
                border: 1px solid $color-dark-secondary;
                border-radius: 40px;
                background-color: $color-primary;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                box-shadow: inset 0px 0px 4px $color-dark-secondary;
            }

            .active {
                background-color: $color-main;
            }

            #DevilsFood {
                background-image: url('../src/images/homepage/main/products/DevilsFood.png');
            }

            #MangoPeach {
                background-image: url('../src/images/homepage/main/products/MangoPeach.png');
            }

            #BlueberryCheese {
                background-image: url('../src/images/homepage/main/products/BlueberryCheese.png');
            }

            #BrazoSansrival {
                background-image: url('../src/images/homepage/main/products/BrazoSansrival.png');
            }

            #CappuccinoChoco {
                background-image: url('../src/images/homepage/main/products/CappuccinoChoco.png');
            }

            #ChocoSansrival {
                background-image: url('../src/images/homepage/main/products/ChocoSansrival.png');
            }

            #HersheysKisses {
                background-image: url('../src/images/homepage/main/products/HersheysKisses.png');
            }

            #MangoSymphony {
                background-image: url('../src/images/homepage/main/products/MangoSymphony.png');
            }
        }
    }

    .discount {
        background-image: url('../src/images/homepage/Background.png');
        background-color: $color-special;
        color: $color-font-secondary;

        .container-xl {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        &__title {
            text-align: center;
            font-family: $font-family-secondary;
            font-size: 2rem;
            font-weight: 200;
            text-shadow: 1px 1px 2px $color-font-primary;
            color: $color-main;
            
        }
        
        &__description, 
        &__info {
            max-width: 25ch;
            text-align: center;
            font-size: 0.9rem;
            font-weight: 600;
            text-shadow: 1px 1px 2px $color-main;
        }
        
        &__gallery {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        &__cake {
            width: 40px;
        }

        &__bonus {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-image: url('../src/images/homepage/main/discount/MiniT-Overload.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__countdown {
            text-shadow: 1px 1px 2px $color-main;
            font-weight: 700;
            color: $color-font-secondary;
        }

        &__link {
            padding: 5px 10px;
            border: 1px solid $color-font-secondary;
            border-radius: 30px;
            box-shadow: 1px 1px 5px $color-font-primary;
            background-color: $color-main;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 20px;
            letter-spacing: 2px;
            color: $color-font-secondary;
            transition: all .6s;

            &:focus-visible,
            &:hover {
                background-color: $color-font-primary;
                color: $color-main;
                text-shadow: 1px 1px $color-font-secondary;
            }
        }
    }

    @include xs {
        .about,
        .workflow,
        .top-products,
        .discount {
            padding-block: 100px 10px;
        }
    }

    @include md {
        .about,
        .workflow,
        .top-products,
        .discount {
            padding-block: 140px 10px;
        }
        
        .about {
    
            &__title {
                font-size: 2rem;
                margin-bottom: 40px;
            }
    
            &__box {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
            }
    
            &__item {
                gap: 20px;
            }
            
            &__info {
                font-size: 1rem;
            }
        }
    
        .workflow {

            &__title {
                margin-bottom: 40px;
                font-size: 2rem;
            }
    
            &__box {
                gap: 20px;
            }
    
            &__item {
                gap: 10px;
                padding: 15px;
            }
    
            &__text--primary {
                font-size: 1rem;
            }
    
            &__text--secondary {
                font-size: 0.9rem;
            }
        }
    
        .top-products {
    
            &__container {
                flex-direction: row;
                justify-content: center;
                gap: 40px;
            }
            
            &__image {
                width: 275px;
            }
            
            &__info {
                font-size: 1rem;
                max-width: 45ch;
            }
        }
    
        .discount {
            
            &__description, 
            &__info {
                font-size: 1rem;
            }
            
            &__gallery {
                gap: 10px;
            }
    
            &__cake {
                width: 75px;
            }
    
            &__bonus {
                width: 100px;
                height: 100px;
            }
        }
    }

    @include lg {
        .about,
        .workflow,
        .top-products,
        .discount {
            padding-block: 150px 10px;
        }
        
        .about {
    
            &__title {
                font-size: 3rem;
            }

            &__box {
                column-gap: 100px;
            }

            &__logo {
                padding: 25px;
            }
    
            &__image {
                width: 50px;
            }
            
            &__info {
                font-size: 1.2rem;
            }
        }
    
        .workflow {

            &__title {
                font-size: 3rem;
            }
    
            &__box {
                grid-template-rows: 1fr;
                grid-template-columns: repeat(4, 1fr);
            }
    
            &__text--primary {
                font-size: 1.2rem;
            }
    
            &__text--secondary {
                font-size: 1rem;
            }
        }
    
        .top-products {

            &__title {
                font-size: 3rem;
            }

            &__image {
                width: 350px;
            }
            
            &__info {
                font-size: 1.2rem;
                max-width: 45ch;
            }

            &__buttons {
                & button {
                    width: 100px;
                    height: 50px;
                    border-radius: 40px;
                }
            }
        }
    
        .discount {

            .container-xl {
                gap: 20px;
            }

            &__title {
                font-size: 3rem;
            }
            
            &__description, 
            &__info {
                font-size: 1.2rem;
            }

            &__link {
                padding: 10px 40px;
                border-radius: 30px;
            }
        }
    }

    @include xl {
        .about,
        .workflow,
        .top-products,
        .discount {
            padding-block: 250px 10px;
        }
    }
}