@use "../../presets" as *;
@use "../../mixins" as *;


.experience {
    background-color: $color-dark-secondary;
    &__title {
        font-family: $font-family-reviews;
        font-size: 35px;
        color: $color-primary;
        margin: 20px 0 20px 0;
        text-align: center;
        text-decoration: underline;
    }
    
    &__photographs {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__image {
        width: 80%;
        margin: 10px 0 10px 0;
        border-radius: 15px;
    }

    &__text {
        margin: 0 2% 30px 2%;
    }
    
    &__clause {
        display: none;
        text-align: center;
        font-size: 15px;
        color: $color-primary;
        &--mod {
            display: block;
        }
    }

    @include sm {
        &__title {
            font-family: $font-family-reviews;
            font-size: 38px;
        }

        &__text {
            margin: 0 2% 40px 2%;
        }
        
        &__clause {
            font-size: 18px;
        }
    }

    @include md {
        &__title {
            font-size: 40px;
        }

        &__clause {
            font-size: 20px;
        }
    }

    @include lg {
        &__title {
            font-size: 45px;
        }

        &__image {
            width: 65%;
            margin: 10px 0 10px 0;
        }

        &__text {
            margin: 0 8% 40px 8%;
        }

        &__clause {
            display: block;
            text-align: center;
            font-size: 20px;
            &--mod {
                display: none;
            }
        }
    }

    @include xl {

        &__title {
            font-size: 50px;
        }

        &__image {
            width: 40%;
        }

        &__text {
            margin: 0 20% 40px 20%;
        }

        &__clause {
            font-size: 18px;
        }
    }
}

